* {
  margin: 0;
  padding: 0;
}

.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #000;
  border: 4px solid #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 200px;
  height: 200px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 200px;
}

.square:focus {
  outline: none;
}

.square-value {
  font-size: 200px;
  color: #fff;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem;

  background-color: #000;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.game-info-item {
  margin-right: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-white {
  color: #fff;
}
